html{
  font-family: sans-serif;
}


/* NAVBAR */
nav {
  width: 100%;
  max-height: 90px;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;

  /* background-color: #3b5998; */
  background-color: #FF0000;

  justify-content: space-around;
  align-items: center;
  align-content: center;
}

h1 {
  font-size: 3em;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

h2 {
  font-size: 1.5em;
  margin: 0px;
  padding: 1em 0em 0em 17.6px;
  color: #FF0000;
}


ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li {
  display: inline;
  padding: 0px 1em;
}


/* Hover for NAVBAR */
nav a{
  color: white;
  text-decoration: none;
}

h1 a:hover, ul a:hover{
  /* background-color: #AA0000; */
  color: black;
}


/* MAIN PART */
main {
  display: flex;
  width: 100%;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  align-content: center;
  align-items: center;
  /* background-color: red; */
}

article {
  width: 500px;
  /* height: 500px; */
  /* flex-grow: 2; */
  /* height: 500px; */
  /* border-style: solid; */
  margin:  0px;
  padding: 0px;
}

picture {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  flex-direction: row;
  /* flex-grow: 2; */
  /* height: 500px; */
  /* border-style: solid; */
  margin: 0em;
  padding: 0px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.1em;
  margin: 0px;
  padding: 1em;

}

section{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}


/* FOOTER */
footer {
  background-color: darkgray;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}


/* Hover for FOOTER */
h2 a{
  text-decoration: none;
  color: #FF0000;
}

footer ul a{
  text-decoration: none;
  color: black
}

footer a:hover{
  /* background-color: navy; */
  color: white;
  /* 
  Change colour later ->
  background-color: #ddd;
  color: black;
  */
}


/* Classes */
.hide400 {
  text-align: center;
  /* overflow: hidden; */
}

.smallimage {
  width: 300px;
  margin: 20px;
}

.redline {
  /* display: flex; */
  background-size: contain;
  background-color: #FF0000;
  /* border-width: 4px; */
  height: 2px;
  width: 100%;
}

.flexliner {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.linerh2 {
  text-align: center;
  width: 8em;
  padding: 0px;
}

.seperator {
  width: 100%;
  margin: 0em;
  padding: 0px 0px 0px 0px;
}